[Unit]
Description=Bluetooth Watcher Script

[Service]
ExecStart=/home/raghav/.local/bin/btwatchergo
Restart=always

[Install]
WantedBy=default.target
