astro
awesome
baloofilerc
blender
bluedevilglobalrc
BraveSoftware
btop
cef_user_data
chromium
dconf
dolphinrc
drkonqirc
enviornment.d
evolution
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
ibus
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kde.org
kded5rc
kdedefaults
kdeglobals
kgammarc
kglobalshortcutsrc
Kingsoft
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
lazygit
libaccounts-glib
mimeapps.list
monitors.xml
mpv
nautilus
nextjs-nodejs
nitrogen
obs-studio
obsidian
okularrc
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma.emojierrc
plasmashellrc
powermanagementprofilesrc
pulse
QtProject.conf
rofi
session
systemd
systemmonitorrc
systemsettingsrc
Thunar
trashrc
Trolltech.conf
uad
user-dirs.dirs
user-dirs.locale
vlc
xfce4
xsettingsd
yay
yin_yang
.gsd-keyboard.settings-ported
.config/Code/
.config/baloofileinformationrc
.config/create-next-app-nodejs/
.config/gh/
.config/kiorc
.config/kservicemenurc
.config/ktrashrc
.config/speech-dispatcher/
.config/unity3d/
.config/zed/
thorium
menus
kingsoft/
discoverrc
plasmanotifyrc
.config/Code - OSS/User
.config/Kvantum
.config/hyde
.config/libreoffice/4
.config/Softdeluxe
.config/cinnamon/spices
.config/flameshot
.config/fyne/io.fyne.setup
.config/go/telemetry/local
.config/google-chrome
.config/nemo
