* {
  /* `otf-font-awesome` is required to be installed for icons */
  /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
  font-family: "JetBrainsMono";
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
}

window#waybar {
  background-color: #010f34;
  color: #f0fffc;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #f0fffc;
}
*/

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #f0fffc;
  background-color: #301e67;
}

/* you can set a style on hover for any module like this */

#workspaces button {
  padding: 0px 4px;
  background-color: transparent;
  color: #f0fffc;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  /* background-color: #64727D; */
  box-shadow: inset 0 -3px #f0fffc;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #f0fffc;
}

#clock,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 18px;
}

#cpu {
  padding-right: 8px;
}
#memory {
  padding-right: 18px;
}

#backlight {
  padding-right: 8px;
}

#window,
#workspaces {
  margin: 0 12px;
}
#battery {
  margin-right: 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right {
  margin-right: 15px;
}

@keyframes blink {
  to {
    background-color: #f0fffc;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #f0fffc;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #f0fffc;
}

#power-profiles-daemon.balanced {
  background-color: #010f34;
  color: #f0fffc;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  color: #f0fffc;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
